:root {
  --outline-color: #b41c8b;
  --default-text-color: #3f3f3f;
  --result-default-text-color: #818181;
  --title-color: #333333;
  --body-color: #f3f3f4;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (max-width: 1440px) and (max-height: 1000px) {
  html {
    font-size: 45%;
  }

  .header-left .img img {
    width: 100px;
    height: 100px;
  }
}
